.googleVisionBox {
  background-color: white;
  margin: 8px 8px 16px 16px;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.googleVisionPortal {
  margin: 5px 10px 10px 10px;
}

.googleVisionText {
  margin: 0px;
  width: 20rem;
  height: 334px;
}

.googleVisionText-none {
  /* margin: 0px; */
  width: 300px;
  /* height: 334px; */
  text-align: center;
  margin-bottom: 1rem;
}
