.button-kakao {
  z-index: 12;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  bottom: 11rem;
  right: 4rem;
  border-radius: 50% !important;
  font-size: 28px;
  width: 56px;
  height: 56px;
  overflow: visible;
  text-align: center;
  line-height: 56px;
  color: rgba(255, 255, 255, 1);
  background: #fae301;
  cursor: pointer;
}

.button-float {
  z-index: 12;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  bottom: 5rem;
  right: 4rem;
  border-radius: 50% !important;
  font-size: 17px;
  width: 56px;
  height: 56px;
  overflow: visible;
  text-align: center;
  line-height: 56px;
  color: rgba(255, 255, 255, 1);
  background: #2196f3;
  cursor: pointer;
}
