.loginbtn {
  border-radius: 50px;
  height: 40px;
  margin: 20px;
  color: white;
}

#kakao {
  background-color: #ffeb04;
}

#google {
  background-color: #dd4b39;
}

#naver {
  background-color: #03c73c;
}
