@import url('https://fonts.googleapis.com/css?family=Merriweather');

.body {
  font-family: 'Merriweather', serif;
}

.nav-logo {
  color: black;
  font-size: xx-large;
  margin: 2em;
  font-family: 'Merriweather', serif;
  cursor: pointer;
}
.nav-:hover {
  cursor: pointer;
}

.main-nav-link.content-mypage:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main-nav-link.content-joblist:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main-nav-link.content-analysis:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main-nav-link.content-login:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-nav-link {
  margin-right: 2.5em;
  padding: 0.5em 0;
  color: #777;
  font-size: 1.2em;
  font-weight: 600;
}

.nav-profile.img {
  margin: 1em;
}
.nav-profile.nick {
  margin: 1em;
}

.login-btn {
  border: 2px solid #777;
  color: #777;
  padding: 7px 12px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  width: 5rem;
  text-align: center;
  cursor: pointer;
}

.nav-userdetail {
  padding: 1.2rem;
  position: fixed;
  right: 92px;
  top: 73px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
